@model WSAD_Final_Project.Models.Cars

@{
    ViewData["Title"] = "Edit Car";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CarId" value="@Model.CarId" />

    <div class="form-group">
        <label for="carMake">Car Make:</label>
        <select id="carMake" name="CarMake" class="form-control" required>
            <option value="@Model.CarMake">@Model.CarMake</option>
            @foreach (var carMake in Enum.GetValues(typeof(CarMake)))
            {

                    <option value="@carMake">@carMake</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="carModel">Car Model:</label>
        <input type="text" id="carModel" name="CarModel" class="form-control" required value="@Model.CarModel" />
    </div>

    <div class="form-group">
        <label for="carYear">Car Year:</label>
        <input type="number" id="carYear" name="CarYear" class="form-control" required value="@Model.CarYear" />
    </div>

    <div class="form-group">
        <label for="boughtYear">Bought Year:</label>
        <input type="number" id="boughtYear" name="BoughtYear" class="form-control" required min="1900" max="2023" value="@Model.BoughtYear" />
    </div>

    <input type="submit" value="Save Changes" class="btn btn-primary" />
</form>
